
div{
    display: block;
}

/* front card */
.front-card{
    margin: -200px 0 0 -418px;
    top: 50%;
    width: 838px;
    left: 50%;
    position: absolute;
}

/* welcome card */
.front-welcome{
    padding-left: 100px;
    float: left;
    display: block;
    height: 410px;
    width: 420px;
}


.front-login{
    float: right;
    display: block;
    
}

.front-signin{
    margin-bottom: 11px;
    width: 300px;
    border: 1px solid;
}


.front-signup{
    padding-bottom: 40px;
    width: 300px;
    border: 1px solid black;
}

/* front login css */
.t1-form{
    margin:5% 5% 5% 5%;
}

.username{
    position: relative;
    top: auto;
    left: auto;
    width: auto;
}

.field{
    margin-bottom: 15px;
}

.signin .username {
    font-size: 14px;
}

.text-input{
    width: 266px;
    height: 20px;
}

input{
    display: inline-block;
    padding: 4px;
    margin: 0;
    outline: 0;

}

.flex-table{
    width: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td,th{
    display: table-cell;
    padding: 0;
}

.flex-table-primary, .flex-table-secondary{
    vertical-align: top;
}

.flex-table-primary{
    width: 99%;
    padding-right: 5px;
}

.flex-table-input{
    width: 190px;
}

.flex-table-secondary{
    width: 1%;
    max-width: 1%;
}

.flex-table-form{
    float: left;
}

.flex-table-btn{
    float: right;
    width:70px;
    height:31px;
    margin: 0;
    background-color: transparent;
    color: black;

}

.SubmitButton{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
}

/* front sign up css */

.front-signup h2{
    border-bottom: 1px solid;
    color: grey;
    display: block;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
}

h2{
    line-height: 22px;
}

 .Sign-up-btn{
    background-color: transparent;
    color: black;
    overflow: visible;
    margin: 0;
    padding: 6px 16px;
}

.u-floatRight{
    float: right!important;
}

.front-welcome-text{
    padding-bottom: 10px;
}

/* Later make @media for responsive design  */