/* --------------------------------------------------
  Global resets
-----------------------------------------------------*/
html {
}

*:focus {
    outline: none;
}

body {
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 1em;
  direction: ltr;
}

p {
  font-family: Cardo, Georgia, Times, serif;
  font-weight: normal;
  margin-bottom: 1em;
}

a:focus {
  color: #179b78;
  outline: none;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

/* --------------------------------------------------
  Nav bar
-----------------------------------------------------*/
nav {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.icon {
  display: flex;
  margin-left: auto;
  width: 30%;
}

.top-icon{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left: 2em;
}

.top-icon:hover{
    filter: invert(70%);
    cursor: pointer;
}

.logo{
    width: 70%;
}

/* --------------------------------------------------
  Main Section
-----------------------------------------------------*/
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding-top: 4em;
  /*background: yellow;*/
}

.main-feed {
  flex:2;
  display: flex;
  flex-direction: column;
  /*background: blue;*/
  margin-right: 2em;
}

.main-feed article {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-feed .picture {
  margin-bottom: 4em;
  width: 40em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.main-feed .picture:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.main-feed .picture img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------------
  Upload card
-----------------------------------------------------*/
aside {
  flex:1;
  /*background: pink;*/
  display: flex;
  flex-direction: column;
  margin: 0em;
}

.upload-card {
  width: 100%;
  margin-bottom: 2em;
}

.upload-card h2 {
  padding-bottom: 1em;
  border-bottom: 1px solid lightslategray;
  text-align: left;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1.4em;
}

.upload-card h3 {
  margin-bottom: 1em;
}

.text-input{
    width: 80%;
    height: 35px;
    padding: 7px;
    margin-bottom: 10px;
}
#inputTitle{
    height: 15px;
}

.upBtn {
    background: gray;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
}

#inputImg{
   opacity: 0;
   position: absolute;
   z-index: -1;
}


body.modal-open {
    overflow: scroll;
    position: fixed;
}

/* --------------------------------------------------
  Modal
-----------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 2em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}
.modal-window {
    background-color: #FFFFFF;
    margin: auto;
    height: 90%;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.modal-window {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.author{
    font-style: italic;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 30px;
}

.title{
    font-size: 2em;  
    margin-bottom: 5px;
}

.caption{
    margin-bottom: 30px;
}

#like-button{
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  font-weight: 600;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  margin: 10px auto;
  float: left;
}

#like-button:hover {
    background-color: lightgrey;
}

#like-button:active {
  background-color: darkgray;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

#viewLike{
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

#like-display{
    margin: 15px;
    float: right;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    color: #747474;
    font-weight: bold;
}

.modal__close:hover {
    color: #000;
}
.open {
    display: block;
}

.modalreview{
    padding: 20px;
}

.postPic{
    display: flex;
    align-content: flex-start;
    width: 60%;
}

.postPic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-interact{
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 1em;
    width: 35%;
}

/* --------------------------------------------------
  Comment Section
-----------------------------------------------------*/
.reviewpost{
    order:0;
}

.showcomment{
    width: 100%;
}

.writecomment{
    order:1;
}

.viewLike{
    order:2;
}

.writecomment h2{
    border-top:1px solid gainsboro ;
    line-height: 22px;
    text-align: left;
    margin-bottom: 6px;
}
.writecomment input{
    font-size: 15px;
    padding: 10px 0;
    border:none;
    width:100%;
}

.listcomment{
    height: 240px;
    overflow-y: scroll;
}

.flex-table{
    width: 100%;
}

.comment{
    margin-bottom: 1em;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    border-color: inherit;
}

td,th{
    display: table-cell;
    padding: 0;
}

.flex-table-primary, .flex-table-secondary{
    vertical-align: top;
}

.flex-table-primary{
    width: 99%;
    padding-right: 5px;
}

.flex-table-input{
    width: 100%;
}

.flex-table-secondary{
    width: 1%;
    max-width: 1%;
}

.flex-table-form{
    float: left;
}

.flex-table-btn{
    float: right;
    width:70px;
    height:31px;
    margin: 0;
    background-color: transparent;
    color: black;

}

/* --------------------------------------------------
  Medium screen
-----------------------------------------------------*/
@media only screen and (max-width: 960px) {
  main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin: 0;
  }

  .main-feed .picture {
    width: 80%;
  }

  .main-feed {
    order: 2;
    margin: 0;
  }

  .main-feed article {
    justify-content: center;
  }

  aside {
    order: 1;
    margin-bottom: 2em;
    border: 1px solid black;
    padding: 1em;
  }

  modal-window{
      background-color: #FFFFFF;
      width: 80%;
      margin: 10% auto;
      padding: 20px;
  }
  
  .postPic{
      width: 100%;
      display:block;
  }
  
  .modal-interact{
      width: 100%;
  }
  
}

